.movieList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.movieItem {
  min-width: 216px;
  padding: 8px;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;

  transition: border-color .3s ease-in-out, transform .3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--hover-color);
    transform: scale(1.02);
  }
}

.moviePoster {
  border-radius: 4px;
  max-width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}



.movieTitle {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}