.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
  font-size: 24px;
  transition: color .3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--hover-color)
  }
}