@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/montserrat-v29-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/montserrat-v29-latin-600.woff2') format('woff2');
}

:root {
  --font-family: "Montserrat", sans-serif;
  --background-color: #111111;
  --color: #efefef;
  --font-size: 16px;
  --line-heigt: 1.5;
  --hover-color: #8e9bff;
  --card-border-color: #efefef;
  --button-bg-color: #697af8;
  --active-color: #6979f8;
  --error-color: #ff647c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--color);
  line-height: var(--line-heigt);
}