.castContainer {
  margin-bottom: 40px;
}

.castList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.castItem {
  padding: 8px;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  min-width: 216px;
  transition: border-color .3s ease-in-out;

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}

.castImage {
  max-width: 200px;
  height: 300px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.castActor,
.castCharacter {
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}